<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="contacto-lio.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <h2 class="h2CanalesConsultas">Contamos con múltiples medios de contacto</h2>
  <section class="canalesConsultas">
    <div class="divCanales">
      <div class="tituloCanales">
        <p>Utiliza nuestros canales de contacto vía mensajería o por llamada telefónica</p>
      </div>
      <div id="canales">
        <a href="https://wa.link/fwi3vy" class="canalWhatsApp" target="_blank">
          <div class="iconoCanal iconoWhatsApp" title="WhatsApp"></div>
          <p>+1 (724) 267-3454</p>
          <div class="contactarme">
            <div title="Icono Chat"></div>
            <p>Contactarme</p>
          </div>
        </a>
      </div>
    </div>
    <div class="divConsultas">
      <div class="tituloConsultas">
        <p>Puedes enviarnos tu consulta a través de correo electrónico a las siguientes direcciones</p>
      </div>
      <div id="consultas"></div>
    </div>
  </section>
  <section class="equipoVentas">

  </section>
  <script src="contacto-lio.js"></script>
</body>

</html>